[submodule "dotnetzip-for-unity"]
	path = dotnetzip-for-unity
	url = https://github.com/r2d2rigo/dotnetzip-for-unity
[submodule "DFile"]
	path = DFile
	url = git@github.com:daixian/DFile.git
[submodule "httplib"]
	path = httplib
	url = git@github.com:daixian/httplib.git
